/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --main-color: #db00ff;
  --primary-text-color: #ff0070;
  --secondary-text-color: #f1b2ce;

  --text-font: "IBM Plex Mono";
  --inner-spacing: 10px;
}
